* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(189, 189, 206);
}

h1 {
    text-align: center;
}
h1:hover{
    color: aquamarine;
}
main {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    margin:40px auto;
    padding: 30px;
    background-color: aqua;
    box-shadow: 10px 10px 10px 10px rgba(94, 72, 72, 0.5);
    border-radius: 6px;
}

.item {
    width: calc(50% - 20px);
    height: calc(100vh / 3);
    background-color: rgb(223, 215, 220);
    margin: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: 1s;

}
.item:hover{
    transform:scale(1.03);
}
.item-1{
    background-image: url(../images/img1.jpg);
}
.item-2{
    background-image: url(../images/download\ 1.jpg);
}
.item-3{
    background-image: url(../images/download\ \(1\).jpg);
}
.item-4{
    background-image: url(../images/download\ \(5\).jpg);
}
.item-5{
    background-image: url(../images/download\ \(2\).jpg);

}
.item-6{
    background-image: url(../images/download\ \(3\).jpg);

}
.item-7{
    background-image: url(../images/download\ \(4\).jpg);

}
.item-8{
    background-image: url(../images/download.jpg);

}