* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.qa {
    width: 50%;
    margin: 40px auto;
}
.qa-item {
    margin-bottom: 20px;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 8px;
}
.qa-question {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 40px;
}
.qa-answer {
    font-size: 24px;
}