div{
    width:  250px;
    height: 250px;
    margin: 20px;
    border: 2px solid rgb(76, 163, 76);
}
.red{
    background-color: red;
}
.rose{
    background-color: rgb(228, 112, 209);
}
.activ{
    background-color: aquamarine;
    width: 300px;
    height: 300px;
    border: none;
}
.activ-text{
    font-size: 28px;
    color: pink;
}
.words-container{
    margin: 50px 0;

}
.word-container{
    width: 50%;
    margin: 20px auto;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    border-radius: 8px;
}
.en-word, .ru-word{
    font-size: 32px;
}
